name: Adding Numbers
on:
   push:
        paths-ignore:
           - .github/workflows/testing.yml
        branches: ["master"]
      
jobs:
  test:
     runs-on: ubuntu-latest

     steps:
      - name: Checking out
        uses: actions/checkout@v4 # uses to copy this entire repo to the instance

      - name: Install python
        uses: actions/setup-python@v4 # installs python 
        with:
           python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest
