name: Adding Numbers
on:
   push:
        branches: ["master"]
jobs:
  test:
     runs-on: ubuntu-latest

     steps:
      - name: Checking out
        uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v4
        with:
           python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest
